 /* base.css css global variables */
:root {
    --surface: #ffffff;
    --bg-overlay: rgba(255,255,255,0.65);
    --text: #111;
    --muted: #666;
    --accent: #f4b276;
    --max-width: 980px;
    --gutter: 24px;
    --radius: 14px;
    --card-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    --darkmode-color: #c0c0c6;
}

/* Universal selector styles */
* {box-sizing: border-box;}

html, body { 
    height: auto;
    min-height: 100%; 
    margin: 0; 
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; 
    -webkit-font-smoothing:antialiased; 
    -moz-osx-font-smoothing:grayscale;
     color: var(--text);
     background: transparent;
}

/* Canvas styles */
canvas#bg-animation {
    position:fixed;
    inset:0;
    width:100vw;
    height: 100vh;
    z-index: -3;
    pointer-events: none;
    display:block;
}

/* Overlay style */
.bg-overlay {
    position: fixed;
    inset:0;
    z-index: -2;
    pointer-events: none;
    background: var(--bg-overlay);
    /* backdrop-filter: blur(2px); */
}

/* Page container styles */
.page {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 28px var(--gutter) 120px;
     
}

/* Dark theme overrides */
    :root[data-theme="dark"] .card {
        background: rgba(28, 28, 32, 0.92);
    }
    :root[data-theme="dark"] .hero::before {
        background: rgba(0, 0, 0, 0.55);
    }
    :root[data-theme="dark"] .nav {
        background: rgba(20, 20, 20, 0.92);
        box-shadow: 0 8px 22px rgba(0, 0, 0, 0.45);
    }

    :root[data-theme="dark"] .project h3 {
        color: var(--surface);
    }
    :root[data-theme="dark"] .project-card {
      background: rgba(0, 0, 0, 0.3);
      border-color: rgba(255,255,255,0.1);
      box-shadow: 0 8px 25px rgba(0,0,0,0.45);
    }
    
     :root[data-theme="dark"] h1, a, p, h2, h3{
        color: var(--surface);
    }
    :root[data-theme="dark"] .hero-subtitle{
        color: var(--darkmode-color);
    }

    :root[data-theme="dark"] .card p, :root[data-theme="dark"] h2{
        color: var(--surface);
    }
    :root[data-theme="dark"] .project-card h3{
        color:var(--surface);
    }
    :root[data-theme="dark"] .project p {
        color: var(--darkmode-color);
    }
    :root[data-theme="dark"] .project .meta img {
            filter: brightness(1.2);
    }

    :root[data-theme="dark"] .hero::before {
        background: rgba(0, 0, 0, 0.55);
    }