 /* base.css css global variables */
:root {
    --bg-overlay: rgba(255,255,255,0.65);
    --text: #111;
    --muted: #666;
    --accent: #f4b276;
    --max-width: 980px;
    --gutter: 24px;
    --radius: 14px;
}

/* Universal selector styles */
* {box-sizing: border-box;}
html, body { height: 100%; margin: 0; font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; color: var(--text); background: transparent; }

